<h1>Listing articles</h1>
   <% content_for :content_top do %>
   <h2><%= :articles %></h2>
   <br class="clear-both">
   <% end %>
   <% content_for :left_col do %>
      <%=render :partial=>'sidemenu_'+@kind %>
   <% end %>
   <% content_for :middle_col do %>
    <div class="box">
    <h3 class="yellow"><%= t :list_articles %></h3>
    <div class="box-container">
      <table border="0" class="table-list">
                <thead>
                    <tr>
                        <th><input type="checkbox" value="" name="action_to_all"></th>
                        <th class="width-40">title</th>
                        <th class="width-10">category</th>
                        <th class="width-10">Date</th>
                        <th class="width-5">Status</th>
                        <th class="width-10"><span>Actions</span></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="inner">
    </div>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                       <% @articles.each do |article| %>
                         <tr>
                            <td><input type="checkbox" value="4" name="action_to[]"></td>
                            <td><%= article.title %></td>
                            <td><%= article.category.name %></td>
                            <td><%= article.created_at %></td>
                            <td><%= article.status %></td>
                            <td><%= link_to t(:show),admin_articles_path %>&nbsp;|&nbsp;<%= link_to t(:edit),edit_admin_article_path(article)+"&k=article" %>&nbsp;|&nbsp;<%= link_to t(:delete),new_admin_article_path %>
                                                       </td></tr>
                        <% end %>
                                    </tbody>
            </table>



                    <button class="confirm" value="delete" name="btnAction" type="submit">
                <span>
                    Delete              </span>
            </button>



                    <button value="publish" name="btnAction" type="submit">
                <span>
                    Publish             </span>
            </button>

    </div>
    </div>
<% end %>
