<h1>Editing article</h1>
<% content_for :content_top do %>
   <h2><%= :articles %></h2>
   <br class="clear-both">
   <% end %>
   <% content_for :left_col do %>
       <%=render :partial=>'sidemenu' %>
   <% end %>
   <% content_for :middle_col do %>
     <div class="box">
    <h3 class="yellow"><%=  t("edit_"+@kind) %></h3>
    <div class="box-container">
<% form_for(@article,:html=>{:multipart=>true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id,nil,:style=>"display:none;" %><br />
    <%= f.hidden_field :id %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </p>
  <p>
    <%= f.label :category_id %><br />
    <%=f.collection_select :category_id,Category.all,:id,:name,{:prompt=>true} %>
  </p>
  <p>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :intro %><br />
    <%= f.text_field :intro %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
   <p>
    <%= f.label :language_id %><br />
    <%=f.collection_select :language_id,Language.all,:id,:name,{:prompt=>true} %>
  </p>
   <p>
    <%= f.label :status %><br />
    <%= f.select :status,[["select_status","please select status"],["live","live"],["draft","draft"],["featured","featured"]] %>
   </p>
   <p>
    <%= f.label :featured %><br />
    <%= f.select :featured,[["No","0"],["Yes","1"]] %>
  </p>
   <p>
    <%= f.label :kind %><br />
    <%= f.select :kind,[["select_kind","please select kind"],["news","news"],["article","article"],["bulletin","bulletin"],["page","page"]] %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
 </div>
    </div>
<% end %>
<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
