<h1>New article</h1>

 <% content_for :content_top do %>
   <h2><%= :articles %></h2>
   <br class="clear-both">
   <% end %>
   <% content_for :left_col do %>
      <%=render :partial=>'sidemenu' %>
   <% end %>
   <% content_for :middle_col do %>
     <div class="box">
    <h3 class="yellow"><%= t("add_"+@kind) %></h3>
    <div class="box-container">
<% form_for(@article,:url=>{:action=>"create"},:html=>{:multipart=>true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label t :slug %><br />
    <%= f.text_field :slug %>
  </p>
  <p>
    <%= f.label t :category_id %><br />
    <%=f.collection_select :category_id,Category.in_zh_CN,:id,:name,{:prompt=>true} %>

  </p>
  <p>
    <%= f.label t :image %><br />
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :intro %><br />
    <%= f.text_field :intro %>
  </p>
  <p>
    <%= f.label t :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label t :status %><br />
    <%= f.select :status,[["live","live"],["draft","draft"],["featured","featured"]] %>
  </p>
  <p>
    <%= f.label :featured %><br />
    <%= f.select :featured,[["No","0"],["Yes","1"]] %>
  </p>
   <p class="hidden">
    <%= f.label t :kind %><br />
    <%= f.select :kind,[["select_kind","please select kind"],["news","news"],["article","article"],["bulletin","bulletin"],["page","page"]] %>
  </p>
   <p class="hidden">
    <%= f.label t :language_id %><br />
    <%=f.collection_select :language_id,Language.all,:id,:name,{:prompt=>true} %>
   </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
   </div>
    </div>
<% end %>
<%= link_to 'Back', articles_path %>
