<div class="post">
 <span class="article_title"><%= link_to h(article.title),article %></span>
   <h4>Category:<%=h article.category.name %>&nbsp;&nbsp;Created at:<%= article.created_at %></h4>
   <div class="summary">
     <div class="article_img"><%= image_tag article.image.url(:thumb) %></div>
     <div class="article_body"> <%= substr(h(article.body),0,100) %></div>
   </div>
   <div class="clear-both"></div>
</div>

