<h3>
  <%=h article.title %>
</h3>

<p>
  <span>Category:</span>  <%=h article.category.name %> <span>Created at:</span><span><%= article.created_at %></span>
</p>
<p>
  <%= image_tag article.image.url(:medium) %>
</p>
<p>
  <%=h article.intro %>
</p>

<p>

  <%=h article.body %>
</p>
