<h1>Listing articles</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Slug</th>
    <th>Category</th>
    <th>Attachment</th>
    <th>Intro</th>
    <th>Body</th>
    <th>Status</th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%=h article.id %></td>
    <td><%=h article.title %></td>
    <td><%=h article.slug %></td>
    <td><%=h article.category_id %></td>
    <td><%=h article.attachment %></td>
    <td><%=h article.intro %></td>
    <td><%=h article.body %></td>
    <td><%=h article.status %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<ul>
<% @recent_articles.each do |live_article| %>
 <li><%=h live_article.title %></li>
<% end %>
</ul>
<br />

<%= link_to 'New article', new_article_path %>
