<h1>New article</h1>

<% form_for(@article) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t(:id),nil,:style=>"display:none;" %><br />
    <%= f.hidden_field :id %>
  </p>
  <p>
    <%= f.label t(:title) %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </p>
  <p>
    <%= f.label :category_id %><br />
	<%=f.collection_select :category_id,Category.all,:id,:name,{:prompt=>true} %>
  
  </p>
  <p>
    <%= f.label :attachment %><br />
    <%= f.text_field :attachment %>
  </p>
  <p>
    <%= f.label :intro %><br />
    <%= f.text_field :intro %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', articles_path %>
