<div class="float-left width-three-quaters border-right">
<%= render :partial=>@article %>

<% if @article.comments %>
<% @article.comments.each do |comment| %>
<p>  <%= comment.comment %> </p>
<% end %>
<% end%>
<h1><%= t :new_comment %></h1>

<% form_for [@article,Comment.new] do |f| %>
  <%= f.error_messages %>

  <p class="hidden">
    <%= f.label t :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label t :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label t :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label t :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p class="hidden">
    <%= f.label t :article_id %><br />
    <%= f.text_field :article_id %>
  </p>
  <p class="hidden" >
    <%= f.label t :parent_id %><br />
    <%= f.text_field :parent_id %>
  </p>
  <p>
    <%= f.submit t(:create) %>
  </p>
<% end %>
</div>
<div id="sidebar">
  <h2><%= t :hot_articles %></h2>
  <%= render :partial=>'articles/article_url',:collection=>@hot_articles,:as=>:article %>
</div>
