<ul class="topnav">
  <li><%= link_to '消息栏' %></li>

  <li><%= link_to '新闻',new_admin_article_path+"&k=news" %></li>
  <li><%= link_to '公告',new_admin_article_path+"&k=bulletin" %></li>
  <li><%= link_to '文章',new_admin_article_path+"&k=article" %></li>

  <li><%= link_to '图片' %>

  <li><%= link_to '静态页面',new_admin_article_path+"&k=page" %></li>
   <li><%= link_to '设置' %></li>

</ul>
