<ul class="topnav">


  <li><%= link_to '新闻',admin_articles_path+"&k=news" %></li>
  <li><%= link_to '公告',admin_articles_path+"&k=bulletin" %></li>
  <li><%= link_to '文章',admin_articles_path+"&k=article" %></li>



  <li><%= link_to '静态页面',admin_articles_path+"&k=page" %></li>
  <li><%= link_to '目录',admin_categories_path %></li>

</ul>
