<ul class="topnav">
  <li><%= link_to 'Home' %></li>
  <li><%= link_to 'About us' %>
    <ul  id="about" class="subnav">
       <li><%= link_to 'Background' %></li>
       <li><%= link_to 'Goals' %></li>
       <li><%= link_to 'Members' %></li>
       <li><%= link_to 'Operational Mechanism' %></li>
  </ul></li>
  <li><%= link_to 'Studies' %>
    <ul id="studies" class="subnav">
      <li><%= link_to 'directions',@page %></li>
      <li><%= link_to 'Core Member' %></li>

      <li><%= link_to 'Study Conditions' %></li>
      <li><%= link_to 'Projects' %></li>
      <li><%= link_to 'Achievement' %></li>
    </ul></li>
   <li><%= link_to 'Communication' %></li>
   <li><%= link_to 'Funding' %></li>
 <li><%= link_to 'Circumstance and Life' %></li>

       <li><%= link_to 'Contact us' %></li>
</ul>
