<ul class="topnav">
  <li><%= link_to '首页','/home?locale=zh_CN' %></li>
  <li><%= link_to '中心概况','/page/zxgk?locale=zh_CN' %>
    <ul  id="about" class="subnav">
       <li><%= link_to '成立背景','/articles/18?locale=zh_CN' %></li>
       <li><%= link_to '宗旨目的','/articles/19?locale=zh_CN' %></li>
       <li><%= link_to '中心成员','/articles/20?locale=zh_CN' %></li>
       <li><%= link_to '运作机制','/articles/21?locale=zh_CN' %></li>
  </ul></li>
  <li><%= link_to '学术研究','/articles/18?locale=zh_CN' %>
    <ul id="studies" class="subnav">
      <li><%= link_to '研究方向','/articles/22?locale=zh_CN' %></li>
      <li><%= link_to '研究骨干','/articles/23?locale=zh_CN' %></li>

      <li><%= link_to '科研条件','/articles/18?locale=zh_CN' %></li>
      <li><%= link_to '科研项目','/articles/24?locale=zh_CN' %></li>
      <li><%= link_to '研究成果','/articles/18?locale=zh_CN' %></li>
    </ul></li>
    <li><%= link_to '交流访问','/articles/18?locale=zh_CN' %>
       <ul id="communication" class="subnav">
      <li><%= link_to '学生交流','/articles/18?locale=zh_CN' %></li>
      <li><%= link_to '教师互访','/articles/18?locale=zh_CN' %></li>
      <li><%= link_to '教学项目','/articles/26?locale=zh_CN' %></li>
     </ul>
   </li>
   <li><%= link_to '专题报道','/articles/18?locale=zh_CN' %></li>
   <li><%= link_to '协作平台','/articles/18?locale=zh_CN' %></li>
   <li><%= link_to '环境与生活','/articles/18?locale=zh_CN' %></li>
   <li><%= link_to '联系我们','/articles/18?locale=zh_CN' %></li>
</ul>
