 <div id="headline">
    <h2>»<%= t :featured_news %></h2>
    <div id="featured" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
      <% i=1 %>
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
      <% @featured_news.each do |news| %>
    
            <li id="nav-fragment-<%= i %>" class="ui-tabs-nav-item ui-corner-top ui-state-default"><%= link_to image_tag(news.image.url(:thumb))+"<span>#{news.title}</span>","#fragment-#{i}" %></li>
             
       <% i+=1 %>
      <% end %>
       </ul>
      	<% j=1 %>
      <% @featured_news.each do |news| %>

       <div style="" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="fragment-<%= j %>"
          <%= image_tag news.image.url %>
            <div class="info">
                <h2><a href="#"><%= news.title %></a></h2>
                <p><%= news.intro %>....<a href="#">更多</a></p>
          </div>
       </div>
       <% j+=1 %>
      <% end %>
    </div>
</div>

<div class="float-left width-three-quaters">
    <h2><%= t :most_new_posts %></h2>

     <%= render :partial=>'articles/article_list',:collection=>@articles,:as=>:article %>
   
    <div class="clear-both"></div>
            <p></p>
    </div>



<div id="sidebar">
    <div class="boxed" id="login">
        <h2 class="title"><%= t :login %></h2>
        <div class="content">
                                <form accept-charset="utf-8" id="login_small" method="post" action="http://www.wutangsheng.cn/users/login">
<div style="width: 15em;" class="float-left">
    <label for="email">E-mail</label>
    <input type="text" maxlength="120" name="email" id="email">

    <div class="spacer-bottom"></div>

    <label for="password">Password</label>
    <input type="password" maxlength="20" name="password" id="password">
</div>

<div class="float-right align-center spacer-left">
    <input type="image" name="btnLogin" value="Login" src="/application/assets/img/admin/bt-login.gif">
<p><a href="http://www.wutangsheng.cn/users/reset_pass">Forgot your password?</a> | <a href="http://www.wutangsheng.cn/register">Register</a></p>
</div>

</form>


        </div>
    </div>
    <div class="boxed" id="updates">
        <h2 class="title"><%= t :hot_posts %></h2>
        <div class="content">
                                <div id="hot-posts">
                <ul><li><a href="http://www.wutangsheng.cn/news/2010/04/diwei">个人、单位和民间组织的国际环境法律地位问题</a></li><li><a href="http://www.wutangsheng.cn/news/2010/04/shuiquan">论水权体系和水市场</a></li><li><a href="http://www.wutangsheng.cn/news/2010/04/gaige">新西兰水资源管理与环境政策改革</a></li><li><a href="http://www.wutangsheng.cn/news/2010/04/energy">能源法：立法助解能源之结</a></li></ul>
            </div>

        </div>
    </div>
    <div class="boxed" id="partners">
        <div id="navigation">

            <h2 class="title"><%= t :links %></h2>
            <ul>
                        <li><a 2="" 1="=&gt;" 0="target" href="http://www.fudan.edu.cn/"><%= t :fudan_university %></a></li>
                        <li><a 2="" 1="=&gt;" 0="target" href="http://www.queensu.ca"><%= t :queens_university %></a></li>
                        <li><a 2="" 1="=&gt;" 0="target" href="http://www.chinaembassycanada.org/chn/"><%= t :canada_embassy %></a></li>

            </ul>

        </div>
    </div>



</div>


<ul>


