<h1>Listing news</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Intro</th>
    <th>Body</th>
    <th>Image</th>
    <th>Image file name</th>
    <th>Image content type</th>
    <th>Image updated at</th>
    <th>Category</th>
    <th>Language</th>
    <th>Status</th>
    <th>Featured</th>
  </tr>

<% @news.each do |news| %>
  <tr>
    <td><%=h news.id %></td>
    <td><%=h news.title %></td>
    <td><%=h news.intro %></td>
    <td><%=h news.body %></td>
    <td><%=h news.image %></td>
    <td><%=h news.image_file_name %></td>
    <td><%=h news.image_content_type %></td>
    <td><%=h news.image_updated_at %></td>
    <td><%=h news.category_id %></td>
    <td><%=h news.language_id %></td>
    <td><%=h news.status %></td>
    <td><%=h news.featured %></td>
    <td><%= link_to 'Show', news %></td>
    <td><%= link_to 'Edit', edit_news_path(news) %></td>
    <td><%= link_to 'Destroy', news, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New news', new_news_path %>