<h1>New category</h1>

 <% content_for :content_top do %>
   <h2><%= t :categories %></h2>
   <br class="clear-both">
   <% end %>
   <% content_for :left_col do %>
      <%=render :partial=>'sidemenu' %>
   <% end %>
   <% content_for :middle_col do %>
     <div class="box">
    <h3 class="yellow"><%= t("add_category") %></h3>
    <div class="box-container">
<% form_for(@category,:url=>{:action=>"create"}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t :name %><br />
    <%= f.text_field :name %>
  </p>

   <p class="hidden">
    <%= f.label t :language_id %><br />
    <%=f.hidden_field :language_id %>
   </p>

  <p>
    <%= f.submit t :create %>
  </p>
<% end %>
   </div>
    </div>
<% end %>
<%= link_to 'Back', categories_path %>
