<p>
  <b>Id:</b>
  <%=h @photo.id %>
</p>

<p>
  <b>Gallery:</b>
  <%=h @photo.gallery_id %>
</p>

<p>
  <b>Title:</b>
  <%=h @photo.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @photo.description %>
</p>

<p>
  <b>Filename:</b>
  <%=h @photo.filename %>
</p>

<p>
  <b>Ordering:</b>
  <%=h @photo.ordering %>
</p>

<p>
  <b>Language:</b>
  <%=h @photo.language_id %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>