<h1>Editing category</h1>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>

   <p>
    <%= f.label :id,nil,:style=>"display:none;" %><br />
    <%= f.hidden_field :id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
    <p>
    <%= f.label :language_id %><br />
	<%=f.collection_select :language_id,Language.all,:id,:name,{:prompt=>true} %>  
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>
