<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Articles: <%= controller.action_name %></title>
  <%= include_tiny_mce_if_needed %>

  <%= stylesheet_link_tag 'layout' %>

  <%= stylesheet_link_tag 'styles' %>
  <%= stylesheet_link_tag 'menu' %>
  <%= stylesheet_link_tag 'admin/admin' %>
  <%= stylesheet_link_tag 'boxes' %>
  <%= javascript_include_tag 'jquery/jquery','jquery/jquery.fancybox','jquery/jquery.featured','jquery/jquery-ui.min' %>
</head>
<body>
   <div id="container">
   <div id="admin_header" >
    <div id="top">
    <h1><a href="">中加环境与可持续发展中心</a></h1>
      <p id="userbox">
   
   <% if logged_in? %>  
     <strong>You are logged in as <%=h current_users.login %></strong>
   <%= link_to 'Logout', logout_path %>
    <% else %>  
  <strong>You are currently not logged in.</strong>

     <%= link_to 'Login', login_path %> or  
     <%= link_to 'Sign Up', signup_path %>  

     <% end %> 
      </p>
        <div style="float:right;font-size:1.2em;">
          <% form_tag request.path,:method=>:get do %>
            <%= label_tag t(:change_language) %>
            <%= select_tag "locale",
                options_for_select(@locales_available,I18n.locale),
                :onchange=>"this.form.submit();"
            %>
         <% end %>
    </div>
    <br class="clear-both">
</div>
 <div id="menu">
   <%= render :partial=>"shared/admin_menu_#@locale" %>

  </div>
  </div>


       <p style="color: green"><%= flash[:notice] %></p>

       <div id="content">
          <div id="content-top"><%= yield :content_top %></div>
          <div id="left-col"> <%= yield :left_col %></div>
          <div id="mid-col" class="large-col"><%= yield :middle_col %></div>

        </div>
       <!-- start footer -->

        <div id="footer">

          <div id="footer-top">


           <div style="float:right;font-size:1.4em;">
              <%= t :site_name %>
           </div>

           <span class="clearFix"></span>
            </div>

           <div id="footer-bottom"  style="text-align:center;font-size:1.2em;padding-top:10px;">
              <span>©2008 - Powered by Maple. All Rights Reserved.</span>
          </div>


        </div> <!-- end footer -->
</div>     <!-- end container -->
</body>
</html>
