<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Articles: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'layout' %>
 
  <%= stylesheet_link_tag 'jquery/featured' %>
 
  <%= stylesheet_link_tag 'style' %>
  
</head>
<body>
   <div id="header">
     <div id="logo">
    	<h1><a href="#"><%= t :site_name %></a></h1>
     	<h2><a href="#"></a><%= t :slogan %></h2>
    </div>
    <div id="topmenu">
    	<ul>
	    	<li><a href="#" id="topmenu1" accesskey="1" title=""><%= t :English %></a></li>
	    	<li><a href="#" id="topmenu2" accesskey="2" title=""><%= t :simplified_Chinese%></a></li>
		
  	</ul>
	</div>
  </div>

  <div id="menu">
    <%= render :partial=>"shared/menu" %>
  </div>
       <p style="color: green"><%= flash[:notice] %></p>
      
        <div id="content">
          <%= yield %>
        </div>
        <!-- start footer -->
        <div id="footer">
		  <p>
			&copy;2008 - Powered by Maple. All Rights Reserved.
		  </p>

        </div>
        <!-- end footer -->
</body>
</html>
